:root {
    --text: #fff;
    --background: #1d1d23;
}
body, .task, .form-control input[type=text] {
    transition: ease-in 0.5s;
    background-color: var(--background) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a,
.form-control,
.form-control input[type=text] {
    transition: ease-in 0.5s;
    color: var(--text) !important;
}

.task.reminder {
    transition: ease-in 0.5s;
    border: 1px solid var(--text) !important;
    border-radius: .3em;
}